body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 150px;
}

h1 {
  font-size: 36px;
  background-color: #F4A261;
  padding: 20px;
  color: #fff;
}

ul {
  list-style-type: disc;
}

ul li::before {
  content: "\2022";
  color: #2E86AB;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.textContent {
  width: 1000px;
  align-items: center;
}

.navbar {
  background-color: #2E86AB;
  border-radius: 2px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.navbar a {
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.hora {
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  float: right;
  margin-right: 10px;
}

.navbar a:hover {
  color: #000000;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.product {
  width: calc(30.33% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #2E86AB;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.container-navbar {  
  display: grid;
}

.social img {
  display: grid;
  width: 100%;
}

.social { 
  height: 30px;
  width: 30px;
}
